extends ../layout/layout.pug

block content

    section#whoami
        h1.text-center Who Am I?
        p.text-center Hello everyone, I'm Onurhan Demir, live in Turkey. I have been a developer for 4-5 years. I'm currently interest Web development and Cyber security but absoluty interest at Web development so my shares mostyl my Cyber Security projects. I'm currently learning Javascript. You can speak with me in two different language: English & Turkish.
        .techs#tech
            h3 Here are a few technologies I've been working with recently:
            
        .row
            .col-md-2
                .row
                    .col-auto.d-flex.flex-row
                        i.fas.fa-caret-right.mr-2 
                        p.lang GraphQL
                .row
                    .col-auto.d-flex.flex-row
                        i.fas.fa-caret-right.mr-2 
                        p.lang Tailwind css
                .row
                    .col-auto.d-flex.flex-row
                        i.fas.fa-caret-right.mr-2 
                        p.lang Vue.js
            .col-md-3.d-flex.flex-column.justify-start 
                .row
                    .col-auto.d-flex.flex-row
                        i.fas.fa-caret-right.mr-2 
                        p.lang Node.js
                .row    
                    .col-auto.d-flex.flex-row
                        i.fas.fa-caret-right.mr-2 
                        p.lang mongoDB
    include ../includes/dark                    