extends ../layout/layout.pug

block content                           
    form(action="/send" method="POST" id="form").container
        h1 To reach me
        p if you can reach me on twitter, instagram etc.
        
        .form-row.mt-4#contact
            .form-group.col-md-4.mr-4
                label(for="inputEmail") Email
                input(type="email").form-control#inputEmail
            .form-group.col-md-3
                label(for="name") Name
                input(type="text").form-control#name
        .form-group
            label(for="message") Message
            textarea.form-control#message

        button(type="submit" form="form").submitBtn Send
    include ../includes/dark