extends ../layout/layout.pug

block content
    .jumbotron
        img(src="/img/photo.jpg" alt="Main Photo").img-fluid.photo
        h1 Hi everyone, I'm 
            span.underlined.underlined--offset Onurhan
        
        .address.row.mt-4.d-flex.flex-row
            .col-auto
                i.fab.fa-github.mr-2
                a(href="https://github.com/Onurhandtr0").text-decoration-none Github
            .col-auto
                i.fab.fa-instagram.mr-2
                a(href="https://www.instagram.com/onurhandtr0/").text-decoration-none Instagram

